@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    /* margin: 0;
    padding: 0; */
    font-family: "Quicksand", serif;
}
section{
    margin-top:30px;
    margin-bottom:50px;
}
.quicksand {
    font-family: "Quicksand", serif;
  }
  .raleway {
    font-family: "Raleway", serif;}
  .title{
    font-size: 46px;
    font-weight: 700;
    color :rgb(0, 0, 0);
  }
.nav, .nav-logo, .nav-menu li,.empower,.stories-container{
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.nav{
    margin: 0 auto;
    padding: auto;
}
.nav-logo{

}
.logo-img{
 width: 62px;
 height: 62px;
 gap: 11px;
}
.logo-title{
    width: 32px;
    height: 32px;
    margin-bottom: 40px;
    font-size: large;
}
.nav-menu{
  list-style: none;
  font-weight: 700;
  font-size: large;
}
.nav-btn{
  width: 100px;
  height: 20px;
  /* border: 1px solid orange; */
  text-align: center;
  border-radius: 12px;
  padding:10px ;
  background: rgb(254, 163, 1);
}

/* Empower */

.empower{
margin: 0 auto;
justify-content: center;
 width:80%;

}
.empower-text{
    width: 800px;
    height: 300px;
}
.empower-title{
    font-weight: 700;
    font-size: 50px;
    width: 600px;
    height: 300px;
}
.empower-para{
     margin-top: -100px; 
    font-weight: 400;
    font-size: 20px;
}
.empower-btn{
    margin-top: 20px; 
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
}
.empower-img{
    margin: 0px 50px;
}

/* <!-- Standard Curriculum --> */
.standard{
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-image: url("./assets/bg.png");
}

.standard-container{
width: 1200px;
height: auto;
text-align: center;
display: flex; 
flex-direction: row;
justify-content:space-around;

}
.standard-img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-title{
    color: rgb(32, 32, 32);
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
}
.standard-para{
    color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
}
.read{
    width: 100px;
    height: 25px;
    color: rgb(240, 170, 0);
    font-size: 18px;
    font-weight: 700;
}
.standard-text{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.standard-card{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column; 
    margin: 10px;
}
.kinder{
    box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elementary{
    box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle{
    box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.arrow-circle{
    display:flex;
justify-content: center;
align-items: center;
}

.arrow-img{
    width: 60px;
    height: 40px;
}
.arrow-design{
    margin-top: 80px;
    margin-bottom: 60px;
}

/* stories */
.first-story{
    width: 400px;
    height: 500px;
}
.first-img{
    width: 100%;
    height: 200px;
    border-radius: 16px 16px 0px 0px;
background: url(./assets/bg.png),rgb(217, 217, 217);
}
.story-btn{
    width: 130px;
    height: 30px;
    border-radius: 47.93px;
background: rgb(60, 216, 232);
transform: translateY(-20px);
margin-left: 20px;
}
.first-txt{
    padding: 10px;
    border-radius: 16px;
background: rgb(255, 255, 255);
margin-top: -38px;
}
.first-title{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 38.35px;
letter-spacing: 0%;
text-align: left;
}
.first-para{
    color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
}

/*  */
.stories{
    background: url("./assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.stories-container{
    gap:-100px;
    margin-left: 190px;
    margin-right: 60px;
    margin:  auto 250px;

}
.story-img{
width: 200px;
height: 100px;
border-radius: 16px 16px 0px 0px;
background: url("./assets/bg.png"),rgb(255, 255, 255);
}

.sto-btn{
width: 165;
height: 28.35px;
left: 38.35px;
top: 157.81px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
transform: translateY(-20px);
margin-left: 30px;
}
.sto-txt{
    width: 178px;
    height: 75px;
    border-radius: 16px;
background: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-size: 12.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
margin-top: -30px;
padding: 10px;
}
.sto-title{
    color: rgb(0, 0, 0);
font-size: 12.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
}
.first-row, .second-row {
  
}
.second-story{
    width: 280px;
    height: 300px;
}
.top-one{
 margin-top: 280px;
}
.top-two{
    margin-bottom:190px;
   }
   .top-one,.top-two{
    margin: -80px auto;
   }
   .top-three,.top-four{
    margin: -80px auto;
   }
  .right-top, .left-top{
   gap: auto -240px;
  }
  .right-top{
    margin-left: -100px;
  }